
*{
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

.header{
    display: flex;
    background-color: white;
    flex-direction: column;
    padding: 20px;
    margin: 0;
    min-height: 15vh;

}

.h1{

    font-size: 60px;
    text-align: center;
    margin:0 auto;
    font-weight:bold;
    margin-top: 20px;
    padding-bottom: 20px;
}

.h2{
    
    font-size: 15px;
    text-align: center;
    margin:0 auto;
    padding-bottom: 20px;

}

.main{
    display: flex;
    flex-wrap: wrap;
    min-height: 50vh;
    flex-direction: row;
    padding: 20px;
    background-color:#E8F0FA;
    
}

.nav1{
    display:flex;
    width: 100%;
    background-color:#E8F0FA;
    flex-direction: column;
    margin: 10px;
    overflow: auto;
    flex-wrap: wrap;
    justify-content: center;
    
}

.nav2{
    display:flex;
    background-color:#A7C1E1;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    padding: 1rem;
    min-height: 5vh;
}


.section{
    flex:100%;
    max-width: 100%;
    flex-direction: column;
    background-color:white;
    padding: 5px;
    overflow: auto;
    text-align: center;
    margin: 5px;
    min-height: 10vh;
}

.fragecontainer{

    display:flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    min-height:35vh;
    margin:0.5em;
    padding:0.5em;
    text-align: center;
}

.antwortcontainer{
    display: flex;
    background-color: white;
    justify-content: center;
}

.button{

    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 0%;
    cursor: pointer;
    border: none;
}

.footer{
    padding: 1rem;
    background-color:#84A1C4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    margin: 0 auto;
}

@media all and (max-width:40em){
    
    .main, .nav1, .nav2, .aside, .div1{
        flex-direction: row;
    }

    .section1{
        flex: 100%;
        max-width: 100%;
    }
}