/*Color Palette 
Pale Blue:
#E8F0FA
#CEE0F4
#A7C1E1
#84A1C4
#607B9B

December green #008770
Lavender Haze rosa #E2C5C5
Cashmere #E94C42
Holly Beryy #FDD9D5
Petunia #FC9F9D
Snowflake #AFCFCC

4DAA57 gelb
FCCA46 grün 
EFA9AE pink
90C2E7 blau
4E598C dunkelblau
AFD5AA grün türkis
0C7C59 dunkelgrün
*/

.body{
    
    
}

.main{
    display: flex;
    min-height: 70vh;
    flex-direction: column;
    padding: 20px;
    background-color:#E8F0FA;
    margin: 0 auto;
}

.header{
    display: flex;
    background-color: white;
    flex-direction: column;
    padding: 20px;
    margin: 0;

}

.nav1{
    display:flex;
    background-color:#E8F0FA;
    flex-direction: row;
    margin: 0 auto;
    margin: 10px;
    overflow: auto;
    
}

.nav2{
    display:flex;
    background-color:#E8F0FA;
    flex-direction: column;
    margin: 0 auto;
    margin: 10px;
    overflow: auto; 
}

.footer{
    padding: 1rem;
    background-color:#84A1C4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    margin: 0 auto;
}

.section1{
    display: block;
    flex-direction: column;
    background-color:white;
    margin:auto;
    padding: 5px;
    overflow: auto;
    
    min-block-size: 20vh ;

}
.section2{
    display: block;
    flex-direction: column;
    background-color:white;
    margin:auto;
    padding: 5px;
    overflow: auto;
    min-height: 20vh;
    

}

.header, .main, .nav1,.nav2, .aside, .div1{
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}


.h1{

    font-size: 60px;
    text-align: center;
    margin:0 auto;
    font-weight:bold;
    margin-top: 20px;
    padding-bottom: 20px;
}

.h3{
    
    font-size: 15px;
    text-align: center;
    margin:0 auto;
    padding-bottom: 20px;

}

.div1{
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow: auto;
    margin: 12px;
}

.button{

    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 0%;
    cursor: pointer;
    border: none;
}

@media all and (max-width:40em){
    
    nav{
        flex-direction: column;
    }
}

.fragecontainer{
    display:block;

}

.antwortcontainer{

}