/*Color Palette 
Pale Blue:
#E8F0FA
#CEE0F4
#A7C1E1
#84A1C4
#607B9B

December green #008770
Lavender Haze rosa #E2C5C5
Cashmere #E94C42
Holly Beryy #FDD9D5
Petunia #FC9F9D
Snowflake #AFCFCC

4DAA57 gelb
FCCA46 grün 
EFA9AE pink
90C2E7 blau
4E598C dunkelblau
AFD5AA grün türkis
0C7C59 dunkelgrün
*/

*{
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.header{
    display: flex;
    background-color: white;
    flex-direction: column;
    padding: 20px;
    margin: 0;
    min-height: 15vh;

}

.h1{

    font-size: 60px;
    text-align: center;
    margin:0 auto;
    font-weight:bold;
    margin-top: 20px;
    padding-bottom: 20px;
}

.h2{
    
    font-size: 15px;
    text-align: center;
    margin:0 auto;
    padding-bottom: 20px;

}

.main{
    display: flex;
    flex-wrap: wrap;
    min-height: 50vh;
    flex-direction: row;
    padding: 20px;
    background-color:#E8F0FA;
    
}

.nav1{
    display:flex;
    width: 100%;
    background-color:#E8F0FA;
    flex-direction: column;
    margin: 10px;
    overflow: auto;
    flex-wrap: wrap;
    justify-content: center;
    
}

.nav2{
    display:flex;
    background-color:#A7C1E1;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    padding: 1rem;
    min-height: 5vh;
}


.section{
    flex:100%;
    max-width: 100%;
    flex-direction: column;
    background-color:white;
    padding: 5px;
    overflow: auto;
    text-align: center;
    margin: 5px;
    min-height: 10vh;
}

.fragecontainer{

    display:flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    min-height:35vh;
    margin:0.5em;
    padding:0.5em;
    text-align: center;
    overflow: auto;
}

.antwortcontainer{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    justify-content: center;
}

.progressbar-container {
    width: 100%;
    height: 20px; /* Höhe der Fortschrittsleiste */
    background-color: #ddd; /* Hintergrundfarbe der Fortschrittsleiste */
    border-radius: 5px; /* Abrundung der Ecken */
    margin-top: 10px; /* Abstand nach oben */
}

.progressbar {
    height: 100%;
    background-color: #4E598C; /* Farbe der Fortschrittsleiste */
    width: 0%; /* Startbreite */
    border-radius: 5px; /* Abrundung der Ecken */
}

.button{

    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 0%;
    cursor: pointer;
    border: none;
}

.button4{
    background-color: #A7C1E1;
    color: white;
    padding:10px 20px; 
    font-size: 18px;
    margin :5px;
    text-decoration: none;
    border-radius: 0%;
    cursor: pointer;
    border: none;
}

.footer{
    padding: 1rem;
    background-color:#84A1C4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    margin: 0 auto;
}

.notation{
    display: flex;
    margin:0 auto;
}


@media all and (max-width:40em){
    
    .main, .nav1, .nav2, .aside, .div1{
        flex-direction: row;
    }

    .section1{
        flex: 100%;
        max-width: 100%;
    }

    .notation{
        flex:100%;
    }
}

